.navbar{
    background-color: #0AC4C1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    position: fixed;
    top: 0;
}
.logout-button{
    background-color: azure;
    border-radius: 12px;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #B1186B;
    margin-right: 18px;

}