.NrSubtitle{
    color:#B1186B;
    font-weight: 600;
    margin-right: 5px;
    margin-top: 5px;
}
.albumsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
    padding: 3%;
    background-color: rgb(247, 247, 247) ;
}





    


  